*{
    color: white;
}
.main{
    background: rgb(36,170,25);
    background: linear-gradient(90deg, rgba(36,170,25,1) 62%, rgba(14,62,4,1) 100%); 
}

.container{
    background-color: green;
    border-radius: 5%;
    width: 35%;
    height: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 30%;
    margin-top: 100px;

}

.disco img{
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 50%;
    width: 400px;
    height: 350px;
    align-items: center;
    animation: girar 4s linear infinite;
}

.disco{
  background-color: #126a16;
  border-radius: 5%;
  margin: 12px;
}




  @keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
.controles{
  border: solid 1px black;
  margin: 12px;
  border-radius: 12px;
  margin-bottom: 20px;
}


.displaynone{
    display: none;
}

/* Añadir esta clase dependiendo que cancion suene poner una clase con un display: block*/
.displayblock{
    display: block;
}
button{
  width: 35px;
}